<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Plant Disease Recognition</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.5.0.min.js"
		integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
	<!-- STYLE CSS -->
	<link rel="stylesheet" href="../static/style.css">
	<link rel="icon" href="../static/logo.png" type="image/x-icon">
</head>

<body>
	<div class="heading">Plant Disease Recognition</div>
	<div class="text">
		<p><b>The Plant Diseases and Pests Detection is based on deep learning.</b></p>
	</div>
	<div class="inner">
		<form id="analysis-form" enctype="multipart/form-data">
			<div class="imgbox"><img src="../static/upload.png" class="img" id="selected_image">
				<input name="Select File" id="imagefile" type="file" />
				<button id="analyze-button" class="analyze-button">
					<span>Analyze</span>
				</button>
			</div>
		</form>
	</div>

	<div id="result"><b>Here will be show the result</b></div>
	<script src="../static/client.js"></script>
</body>

</html>