@font-face {
  font-family: "Muli-Regular";
  src: url("../static/fonts/Roboto-Regular.ttf"); }
@font-face {
  font-family: "Muli-Bold";
  src: url("../static/fonts/Roboto-Bold.ttf"); }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #C0C0C0;
    font-family: "Muli-Regular";
    font-size: 12px;
    margin: 0;
}

#result {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Muli-Regular";
    color: #013220;
    font-size: 22px;
    padding: 20px 20px 20px;
}

button {
    font-family: "Muli-Regular";
}

.heading {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    color: #013220;
    font-family: "Muli-Bold";
    font-size: 40px;
    font-weight: 900;
    top: 160px;
}

.inner {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 160px;
}

.text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Muli-Regular";
    color: #696969;
    top: 160px;
    font-size: 16px;
}

.middle {
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    transform: translateZ(-20px);
    -ms-transform: translate(-20px)
}

.img {
    border-radius: 24px;
    width: 176px;
    height: 176px;
    left: 904px;
    top: 280px;
}

.imgbox {
    transition: box-shadow .3s;
    border-radius: 24px;
    border: 1px #696969;
    text-align: center;
}

form {
    border-radius: 24px;
    filter: drop-shadow(2px 2px 2px #000);
    width: 350px;
    height: 350px;
    background-color: #C0C0C0;
    position: flex;
    padding: 40px 40px 40px;
    border: 1px #696969;
}

.imgboxtext {
    top: 400px;
    left: 840px;
}

.add {
    background: #013220;
    font-family: "Muli-Regular";
    font-size: 12px;
    color: #fff;
    letter-spacing: 1px;
}

.analyze-button {
    text-align: center;
    position: flex;
    align-items: center;
    justify-content: center;
}

.middle input[type="file"] {
    -webkit-appearance: none;
    position: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

#right {
    border-radius: 0% 60% 50% 0%;
    height: auto;
    width: 760px;
    left: 880px;
    box-shadow: 0 40px 40px rgba(0, 0, 0, 1), 0 40px 40px rgba(0, 0, 0, 1);
}

button {
    border: none;
    width: 100%;
    height: 45px;
    margin-top: 24px;
    margin-bottom: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #013220;
    color: #fff;
    text-transform: uppercase;
    font-family: "Muli-Regular";
    font-size: 12px;
    letter-spacing: 2px;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
}

button span {
    position: relative;
    z-index: 2;
}

button span {
    position: relative;
    z-index: 2;
}

button:before,
button:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 128, 0, 0.3);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

button:after {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

button:hover:before,
button:hover:after {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

body {
    overflow: hidden;
}
